*.asm linguist-language=Assembly
*.c linguist-language=C
*.cpp linguist-language=C++
*.cs linguist-language=C#
*.fs linguist-language=F#
*.vb linguist-language=Visual-Basic-.NET
*.rs linguist-language=Rust
*.go linguist-language=Go
*.nim linguist-language=Nim
*.zig linguist-language=Zig
*.d linguist-language=D
*.v linguist-language=V
*.pas linguist-language=Pascal
*.kt linguist-language=Kotlin
*.cr linguist-language=Crystal
*.py linguist-language=Python
*.rb linguist-language=Ruby
*.pl linguist-language=Perl
*.lua linguist-language=Lua
*.php linguist-language=PHP
*.java linguist-language=Java
*.js linguist-language=JavaScript
*.ps1 linguist-language=PowerShell
*.au3 linguist-language=AutoIt
*.bat linguist-language=Batchfile
